{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
<div>
    <div>
        <h1>Create a new service</h1>
        <a href="{{ url('app_service_new') }}">Create a new service</a>
        <h1>My Bookings</h1>
        <div>
            {% if bookings is empty %}
                <p>You have no bookings.</p>
            {% else %}
                <table>
                    <thead>
                        <tr>
                            <th>Service</th>
                            <th>Start Time</th>
                            <th>End Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for booking in bookings %}
                            <tr>
                                <td>{{ booking.service.title }}</td>
                                <td>{{ booking.dateStart|date('Y-m-d H:i') }}</td>
                                <td>{{ booking.dateEnd|date('Y-m-d H:i') }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}