{% extends 'base.html.twig' %}

{% block title %}Booking Error{% endblock %}

{% block body %}
<div>
    <div>
        <h1>Booking Error</h1>
        <p>Your booking is set during another booking.</p>
        <a href="{{ url('app_service_index') }}">Back</a>
    </div>
</div>
{% endblock %}