{% extends 'base.html.twig' %}

{% block title %}Booking Successful{% endblock %}

{% block body %}
<div>
    <div>
        <h1>Booking Success</h1>
        <p>Thank you for your booking.</p>
        <a href="{{ url('app_service_index') }}">Back</a>
    </div>
</div>
{% endblock %}